[dir="ltr"] .me-auto {
     margin-left: auto!important;
     margin-right:0px !important
 }
 [dir="ltr"] .text-start {
     text-align: right
     !important;
 }
 [dir="ltr"] .shape-right {
    
     right: 87px;
 }
 [dir="ltr"] .component-whatsapp {
    right: 2%;
    text-align: right;
}