.about-item-best img {
     width: 80px;
     height: 80px;
 }
 .about-item-best .title-title {
     font-size: 17px;
 }
 .title-title {
   
    font-size: 26px;
 }
 .p-decerption {
     font-size: 15px;
     line-height: 26px;
     font-weight: 400;
     color: var(--color-primary);
     margin-bottom: 0px;
 }
 .defintion-abver h6 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: var(--color-hover);
}
.p-decerption p ,.about-item-best .p-decerption{
    color: #6c727dc9;
    font-weight: 400;
    font-size: 14px;
}
/* استهداف الصور في العناصر الزوجية */
.Advantages .row:nth-child(even) {
    flex-direction: row-reverse;
}
.title-asset{
    color: black;
    font-size: 16px;
    font-weight: bold;
}