@font-face{
     src:url(../font/Cairo/static/Cairo-Bold.ttf);
     font-family: 'Cairo', sans-serif;
     font-weight: 700;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Regular.ttf);
     font-family: 'Cairo', sans-serif;
     
     font-weight: 400;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Medium.ttf);
     font-family: 'Cairo', sans-serif;
     
     font-weight: 500;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-Light.ttf);
     font-family: 'Cairo', sans-serif;
     
     font-weight: 300;
}
@font-face{
     src:url(../font/Cairo/static/Cairo-ExtraBold.ttf);
     font-family: 'Cairo', sans-serif;
          font-weight: 800;
}
body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}
[dir="rtl"] body{
     font-family: 'Cairo', sans-serif;
}
[dir="ltr"] body{
     font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6{
     margin: 0px;
     padding: 0px;
}
ul,ol{
     padding-inline-start: 0px;
     padding-left: 0px;
}
a:hover,a{
     text-decoration: none;
}
ul li{
     list-style: none;
}
p{
    color: var(--color-primary);
 
    font-weight: 400;
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}
.animate-float-y {
    -webkit-animation-name: float-y;
    animation-name: float-y;
    -webkit-animation-duration: 2s;
    /* animation-duration: 2s; */
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes float-y{
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
/* Colors */
:root {
     --color-default: #000000;
     --color-primary: #6C727D;
     --color-secondary: #0A1426;
     --color-hover: #ffffff;
     --color-back:#4c8f3a;
     --color-logo:#0B555E
 
   }
   .component-stert{
     position: fixed;
     background-color: var(--color-default);
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     z-index: 10000;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     -moz-background-color: var((--color-default));
     -webkit-background-color:var((--color-default)) ;
     -o-background-color: var((--color-default));
 
 }
   .component--intro{
     width: 100%;
     height: 100%; 
     animation: sk-chase 5s infinite linear both;
     display: grid;
     justify-content: center;
     align-items: center;
     
 }
 .component--intro img{
 width:301px ;
 height: auto;
 
 }
/*nav*/
.navbar-brand img{
width: 155px;
height: auto;
max-height: 78px;
}
.navber-index .navbar-nav .nav-item{
     margin: 0px 7px;
}
.navber-index .navbar-nav .nav-link{
     font-size: 15px;
     color: #fff;
     font-weight: bold;
     text-transform: capitalize;
}
.navber-index .navbar-nav .nav-item:hover{
     background: linear-gradient(100deg, #0B555E , #428315cc );
     border-radius: 8px;
     color: var(--color-hover);
}
.navber-index .navbar-nav .active {
     color: var(--color-logo);
     font-size: 18px;
     line-height: 40px;
     text-transform: capitalize;
     border-bottom: 1px solid var(--color-logo);
     font-weight: 800;
     padding-bottom: 6px;
     padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
 }
 .navber-index .navbar-nav .active:hover {
color: var(--color-hover);
 }
 .nav-login-lang{
     border: 1px solid var(--color-logo);
     padding: 0px 3px;
     border-radius: 8px;
      }
      .navber-index.scrolled {
          background: var(--color-secondary) !important;
          border-bottom: 1px solid var(--color-secondary);
          transition: 0.8s;
      }
      /* .navber-index .collapse.show{
        background-color: #212529;
      } */
      .navber-index .dropdown-menu.show{

color: var(--color-default);
      }
      [dir="rtl"] .navber-index .dropdown-menu{
        text-align: right;
      }
      .dropdown-item:active {
        color: var(--bs-dropdown-link-active-color);
        text-decoration: none;
        background-color: var(--color-primary);
    }
/*end-nav*/
/*carousel*/
.corousel-index{
     height: 100vh;
}
.corousel-index .carousel-inner,.corousel-index .carousel-item,.img-slider img{
     height: 100%;
}
.img-slider{
     position: relative;
     height: 100%;
}
.overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     bottom: 0;
     z-index: 1;
     object-fit: cover;
     object-position: 50% 50%;
     background-repeat: no-repeat;
      background-color: #000000a1;
 }
 @media (min-width:1000px) {
     .corousel-index .carousel-caption {
          z-index: 2;
          bottom: 30%;
      }
 }
 @media (max-width:990px) {
    .corousel-index .carousel-caption {
         z-index: 2;
         bottom: 10%;
     }
     .img-slider img{
        object-fit: cover;
     }
}
.corousel-index .carousel-caption {
    left:10%;
    right: 10%;
}
 .corousel-index .carousel-caption h5{
font-size: 35px;
font-weight: bold;
text-transform: capitalize;

color: var(--color-hover);
 }
 @media (max-width:600px) {
     .corousel-index .carousel-caption h5{
          font-size: 18px;
     }
     .col-button-con{
        margin-top: 30px;
     }
 }
 .corousel-index .carousel-caption p{
     font-size: 16px;
     color: var(--color-hover);
     font-weight: 400;
     line-height: 31px;
 }
 @media (max-width:600px) {
 .corousel-index .carousel-caption p{
    line-height: 1.55em !important;
    height: calc(8* 1.55em);
    overflow: hidden;
 }
}
 .button-stert{
   
    background: var(--color-hover);
     color: var(--color-secondary);
     border-radius: 8px;
     font-weight: bold;
     font-size: 16px;
 }
 .button-stert:hover{
     color: var(--color-hover);
    
     background: linear-gradient(100deg,  #428315cc ,#0B555E );
 }
 /*end-carousel*/
   
 /*about*/
 .title-title{
     color: var(--color-primary);
     font-size: 30px;
     text-transform: capitalize;
     font-weight: bold;
     line-height: 35px;

 }
 .p-decerption{
     font-size: 17px;
     line-height: 30px;
     font-weight: 400;
     color: var(--color-primary);
   
 }
 .component-about  .p-decerption{
    text-align: justify;
 } 
 .video-date {
     display: flex;
     justify-content: center;
     align-items: center;
     justify-items: center;
     position: relative;
     cursor: pointer;
 
 }
 .div-button {
     position: absolute;
     bottom: 0px;
     top: 1px;
     left: 0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     width: 100%;
     cursor: pointer;
 }
 #myBtn {
     width: 50px;
     height: 50px;
     background-image: url(../img/play-button.png);
     background-repeat: no-repeat;
     z-index: 1;
     background-size: cover;
     cursor: pointer !important;
     border: 0px;
     border-radius: 50%;

 }
 .component-video video {
     width: 100%;
     height: 300px;
     border-radius: 8px;
 }
 
 /*end-about*/
 /*services*/
 .content-services .card{
     border: 0px;
  
     background-color: #ffffff8a; 
    -webkit-box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
 }
 .content-services .card:hover{
     transform: scale(1.02);
    
     
 }
 .content-services .card h3,.content-blog .card h3,.title-serch{
     color: var(--color-primary);
     font-size: 20px;
     line-height: 30px;
     font-weight: 600;
     text-transform: capitalize;
 }
 .content-blog .card h3{
    font-size: 18px;
 }
 .content-blog .card h3{
    line-height: 1.25em !important;
    height: calc(2* 1.25em);
    overflow: hidden;

 }
 .content-services .card p,.content-blog .card p{
     color: var(--color-primary);
     font-size: 16px;
     line-height: 23px;
     font-weight: 400;
 }
 .content-services .card-body{
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    align-items: start;
 }
 .content-blog .card p{
    line-height: 1.25em !important;
    height: calc(4* 1.25em);
    overflow: hidden;
 }
.btn-primar{
    background: linear-gradient(100deg, #0B555E , #428315cc );

color: var(--color-hover);
font-weight: 600;
font-size: 16px;
line-height: 18px;
}
.btn-primar:hover{
    background: linear-gradient(100deg, #428315cc, #0B555E  );
     color: var(--color-hover);    
}
.img-fluid{
     border-top-right-radius: 8px;
     border-top-left-radius: 8px;
  
}
.component-content .p-decerption{
   text-align: justify;
}
.component-hadeer p{
    text-align: center;
}
@media (min-width:990px) {
    .img-fluid{
        
        height: 245px;
   }   
}
 /*end-services*/
 .component-adver{
   
    background: linear-gradient(100deg, #0B555E , #428315cc );
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
     padding: 65px 0px;
 }
 
 .defintion-abver h6{
     font-size: 30px;
     font-weight: 600;
     line-height: 30px;
     color: var(--color-hover);
 }
 @media (max-width:600px) {
    .defintion-abver h6{
        font-size: 25px;
    }  
 }
 .defintion-abver p{
     font-size: 16px;
     font-weight: 400;
     line-height: 30px;
     color: var(--color-hover);
 }
 .content-erp .card{
     border: 0px;
 }
 .content-erp .card img{
     width: 50px;
     height: 50px;
     margin: auto;
 }
 .content-erp .card h3{
     color: var(--color-primary);
     font-size: 18px;
     line-height: 30px;
     font-weight: 600;
     text-transform: capitalize; 
 }
 .content-erp .card p{
     color: var(--color-primary);
     font-size: 16px;
     line-height: 23px;
     font-weight: 400;
 }
 .component-custmer{
     background: #090412;
     background-size: cover;
    position: relative;
     
 }
 .over{
     position: absolute;
    background-color: #090412;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
 }
 .row-custemer{
     position: relative;
     color: var(--color-hover);
 }
 .row-custemer p{
    color: var(--color-hover);
    font-size: 1.15rem;
 }
 .component-team-new img{
     width: 128px !important;
     height: 128px;
     margin: auto;
 }
 .component-team-new img:hover{
    
          transform: scale(1.02);
 }
 .sales-img{
    width: 100%;
    height: auto;
   
 }
 @media (min-width:1100px) {
    .sales-img{
      
           
            min-height: 388px;
         
    }
 }
 /*bolg*/
.content-blog .card{
border: 0px;
}

@media (min-width: 990px)
{
    .content-blog .card img{
        height: 200px;
    }
}
 /*bolg*/
 .content-project {
    background: linear-gradient(100deg, #0B555E , #428315cc );
    padding: 65px 0px;
}
.shape-tri {
    position: absolute;
    left: 30%;
   
}
.shape-left {
    position: absolute;
    top: -159px;
    width: 420px;
    
}
@media (min-width:900px) {
    .shape-left {
        right: -400px;
    }
}
@media (max-width:800px) {
    .shape-left {
        width: 220px;
    }
    [dir="rtl"] .shape-tri {
        left: 65%;
    }
    [dir="ltr"] .shape-tri {
        right: 45%;
    }
}
@media (max-width:400px) {
    [dir="rtl"] .shape-tri {
        left: 70%;
    }
    [dir="ltr"] .shape-tri {
        right: 50%;
    }
}
.button-wiet{
    background-color: var(--color-hover);
    border-radius: 8px;
    color: var(--color-secondary);
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}
.button-wiet:hover{
    color: var(--color-hover);
    background: linear-gradient(100deg, #0B555E , #428315cc );
}
.pb-55 {
    padding-bottom: 55px;
}
.pt-55{
    padding-top: 65px;
}
/*footer*/
.component-footer{
    background-color: #1d2426;
    color: var(--color-primary);
    position: relative;
}
.img-footer-logo{
    width: 138px;
    height: 69px;
}
.p-footer{
    font-size: 16px;
    font-weight: 400;

}
.a-google a img{
    width: 130px;
    height: 130px;
}
.title-footer{
    font-size: 20px;
    color: var(--color-hover);
    font-weight: 700;
    text-transform: capitalize;
}
@media (min-width:600px) {
    .title-footer{
        font-size: 16px;
    }
}
.footer-nav li a,.contact-content a{
    color: var(--color-primary);
    font-size: 16px;
}
.footer-nav li{
    margin-bottom: 15px;
}
.footer-nav li i,.contact-content a i{
    margin: 0px 8px;
    color: var(--color-hover);
}
.footer-nav li a:hover,
.contact-content a:hover
{
    color: var(--color-hover);
    background: linear-gradient(100deg, #0B555E , #428315cc );
    padding:2px 5px;
    border-radius: 5px;
}
.footer-copyright{
    border-top: 1px solid #CED0D4;
    padding: 30px 0 ;
}

.shape-right {
    position: absolute;
    top: 60px;
   
    width: 41%;
}
[dir="rtl"] .shape-right {
    
    left: 87px;
}
.row-footer{
    position: relative;
    z-index: 1;
}
.button-mor{
    background: linear-gradient(100deg, #0B555E , #428315cc );
    color: var(--color-hover);
}
/*end-footer*/
.component-reviews{
    background-color: #090412;
}
.slider-1 {
    border: 4px solid #FFFFFF;
    padding: 0px 10px 40px 10px;
    border-radius: 50px;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;

}
.slider-img {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    margin: auto;
    top: -40px;
    position: relative;
}
.slider-img img{
    width: 100%;
    height: 100%;
}
.custemer-reviews .carousel-item{
    margin-top: 40px;
}
.component-team-new .owl-nav{
    margin: 25px 30px 0px;
    text-align: center;
}
.component-team-new  .owl-dots{
display: none;

}
.component-team-new .owl-nav button{
   
    background: linear-gradient(100deg, #0B555E , #428315cc ) !important;
    margin: 0px 6px;
}
.component-team-new .owl-nav button span{
    color: var(--color-hover);
    font-size: 18px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {

    padding: 10px 20px !important;
    border-radius: 8px;
}
/* .navbar-toggler-icon {

    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);

} */
@media (min-width:900px) {
    
.services-other .card-body p{
    line-height: 1.45em !important;
    height: calc(3* 1.45em);
    overflow: hidden;
}
.content-services-beg .card-body p{
    line-height: 1.45em !important;
    height: calc(6* 1.45em);
    overflow: hidden;
}
}
@media (max-width:900px) {
    .content-services .card-body {
     
        justify-items: center;
    }
}
/*content-us*/

.page-title {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}

.component-contents .contact-content a i{
    color: #17AABD;
}
.form-content .form-control,.form-content .form-select{
    box-shadow: 0px 2px 6px #dbdade inset;
}
.form-content .form-label{
    color: #6C727D;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}
/*end-content-us*/
/*about*/
.img-vision{
    width: 64px;
    height: 64px;
}
.about-item {
    display: flex;
    background: white;
    position: relative;
    border-radius: 7px;
   
    padding:25px 6px;
    box-shadow: 0px 2px 6px #dbdade inset;
    align-items: start;
}
.about-item-best{
    background: white;
    position: relative;
    border-radius: 7px;
   
    padding:25px 6px;
    box-shadow: 0px 2px 6px #dbdade inset;  
}
.about-item img{
    width: 64px;
    height: 64px;
}
.about-item:hover,.about-item-best:hover{
    border-bottom: 4px solid var(--color-logo);
    transform: scale(1.02);
}
.about-item .title-title{
    font-size: 18px;
}
.about-item-best .title-title{
    font-size: 20px;
}
.title-tem{
    color:var(--color-primary);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.img-team{
    width: 140px;
    height: 129px;
}
.p-team{
    color:var(--color-primary);
    font-size: 16px;
}
/*end-about*/
/*blog*/
.col-serves {
    padding-bottom: 1rem;
}
.card-blog {
    border: 0px;
    height: 100%;
    transition: all .5s ease-in-out;
}
.img-blog-date {
    position: relative;
    border-radius: 0px;
}
.card-blog .blog-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transform: scale(1);
}
.card-definti-blog .blog-img {
    width: 100%;
    height: 400px;
}
.date-time {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #1E1E1E;
    text-align: center;
    color: #1E1E1E;
    padding: 8px;
    font-weight: 300;
    font-size: 14px;
}
.number-time {
    font-size: 23px;
    line-height: 25px;
}
.card-blog .card-body {
    border: 1px solid #70707050;
    background-color: #fff;
    border-top: 0px;
    padding-bottom: 0px;
}
.component-Know {
    height: 43px;
    padding-left: 20px;
    padding-right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.link-more, .link-more:hover {
   
    transition: all .5s ease-in-out;
}
.title-card{
    color: var(--color-primary);
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize; 
}
.title-p,.date{
    color: var(--color-primary);
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}
.col-serves .title-p{
    line-height: 1.45em !important;
    height: calc(3* 1.45em);
    overflow: hidden;
}
[dir="ltr"] .col-serves .title-card{
    line-height: 1.45em !important;
    height: calc(2* 1.45em);
    overflow: hidden;
}
.card-blog:hover .card-body {
    border: 0px;
    padding-bottom: 0px;
}
.card-blog:hover {
    box-shadow: 0px 10px 20px #00000011;
    border: 0px;
    transition: all 3s;
    max-height: fit-content;
}
.card-blog:hover .date-time {
    background-color: #0B555E;
    color: #FFFFFF;
    border: 0px;
}
.card-blog:hover .component-Know {
    visibility: visible;
    transition: all .5s ease-in-out;
    opacity: 1;
    transform: translateY(2px);
}
.component-serch{
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
}
.form_control {
    background-color: #f8f8f8;
    border-radius: 4px;
    padding: 0 20px;
    height: 56px;
    border: none;
    width: 90%;
}
.input-group{
    background-color: #f8f8f8;
}
.search-btn {
    border: 0px;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: #16aabc;
}



.defintion-blog{
    border: 1px solid #70707050;
}
.toc_list li{
    list-style-type: decimal;
    margin-bottom: 8px;
}
.toc_list li a{
    color: var(--color-primary);
    font-size: 16px;
}
.toc_list li a:hover{
    color: var(--color-back);
    font-weight: 500;
}
::marker {
    color: var(--color-primary);
}
.card-definti-blog .card-body{
    border: 0px;
}
.card-definti-blog{
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
}   

.content-project-blog{
    padding: 40px 0px;
    border-radius: 20px;
}
.title-id{
    padding-top: 100px;
}
.span-text{
    background-color: #f8f8f8;
    color: var(--color-primary);
    font-size: 16px;
}
.span-text:hover{
    background: linear-gradient(100deg, #0B555E , #428315cc ) !important;
    color: var(--color-hover);
}
/*end-blog*/
/*pricess*/


.span-price{
   
    font-size: 40px;
}
.nk-pricing-body i{
    font-size: 20px;
     color: var(--color-back);
}
.btn-price{
   border: 1px solid black;  
   border-radius: 5px; 
   margin-top: 10px; 
   padding: 8px 35px;
 background:#fff
}

/*end-pricess*/
/*login*/
.img-login{
    height: auto;
    min-height: 600px;
    object-fit: cover;
    border-radius: 16px;
}
.row-login{
    box-shadow:  0px 5px 10px #6c727d45;
    border-radius: 16px;
}
.logo-login{
    width: 155px;
    height: 78px;
    margin: auto;
}
.title-login{
    color: var(--color-primary);
    font-weight: 600;
    font-size: 18px;
}
.p-login{
color: var(--color-primary);
font-weight: 400;
font-size: 16px;
}
.link-login{
font-weight: bold;
color: var(--color-logo);
font-size: 18px;
}
.component-whatsapp {
    bottom: 5%;
    z-index: 4;
  
}

[dir="rtl"] .component-whatsapp {
    left: 2%;
    text-align: left;
}
@media (max-width:600px) {
    [dir="rtl"] .component-whatsapp {
        right: 2%;
    }   
}
.component-whatsapp img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.compoent-chat-hadder .btn-group .dropdown-menu {
    background-color: var(--color-back);
    padding-top: 29px;
    z-index: 112;
    margin-top: 10px;
    
        --bs-dropdown-min-width: 24rem;
  
}

.compoent-chat-hadder .dropdown-menu.show {

    position: relative;
}
.btn-submit{
    background-color: var(--color-back);
}
.btn-submit:hover{
    background: linear-gradient(100deg, #0B555E , #428315cc ) !important;
    color: var(--color-hover);

}
.form-index-form{
    background-color: var(--color-hover);
    
}
.btn-submit img {
    width: 18px;
    height: 18px;
}
.btn-btn{
    background-color: var(--color-back);
    border-radius: 50%;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius:50% !important;
    width: 50px;
    height: 50px;
    align-items: center;
    color: var(--color-hover);
}
.btn-btn span i{
    font-size: 20px;
}
.btn-btn:hover{
    background-color: var(--color-back);
    border: 0px;
    
}
.btn-my,.btn-my.show,.btn-my:hover,.btn-my:focus{
    background-color: var(--color-back);
    border-radius: 50%;
    border-top-right-radius: 50% !important;
    border-bottom-right-radius:50% !important;
    width: 63px;
    height: 63px;
    align-items: center;
    color: var(--color-hover); 
}
.btn-my img{
width: 40px;
height: 40px;
}
.phone-component{
    background-color: var(--color-back);
    width: 50px;
    height: 50px;
    align-items: center;
    color: var(--color-hover);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.phone-component a{
color: var(--color-hover);
}
.dropdown-content{
    bottom: 116%;
    
}
[dir="rtl"] .dropdown-content{
    text-align: right;
}
[dir="ltr"] .dropdown-content{
    text-align: left;
}
/*end-login*/

  .dropdown:hover .dropdown-menu {display: block;}
.about-item-best img{
    width: 120px;
    height: 120px;
}
.img-or{
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 300px;
}
.component-or{
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.img-system{
    height: auto;
   
}
.img-accountiong{
    width: 70px;
    padding: 3px;
    height: 70px;
   
    margin-bottom: 10px;
}
.title-accountin{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
@media (min-width: 1700px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1550px;
    }
    .navber-index .navbar-nav .nav-link, .navber-index .dropdown-item  {
        font-size: 1.4em;
    }
    .p-decerption,.corousel-index .carousel-caption p ,
    .defintion-abver p,.content-erp .card h3,.row-custemer p,
    .about-item .title-title ,
    .custemer-reviews p, .content-services .card p, .content-blog .card p,
    .content-erp .card p ,    .toc_list li a, .form-content .form-label,.p-login 
    {
        font-size: 1.45em;
    }
   .content-blog .card p{
        line-height: 1.45em !important;
        height: calc(5* 1.45em);
    
    }
    .btn-primar {
     
        font-size: 18px;
        line-height: 34px;
    }
    .content-services .card h3, .content-blog .card h3, .title-serch,
    .content-blog .card h3 ,  .title-footer ,
    .about-item-best .title-title,.button-stert ,.slider-title h6,.card-blog .title-card
    {
        font-size: 1.55em ;
    }
    .title-title {
     
        font-size: 2em;
    }

    .defintion-abver h6 {
        font-size: 38px;
    }
    .content-erp .card p {
        line-height: 30px;

    }
    .content-erp .card img {
        width: 60px;
        height: 60px;
    }
    .defintion-abver p {
line-height: 40px;
    }
    .p-decerption-p {
    
        line-height: 42px;

    }
    .footer-nav li a, .contact-content a ,.p-footer ,.p-team{
        font-size: 1.4em;
    }

    .card-definti-blog .title-card {
     
        font-size: 1.50em;
    } 
    .title-p, .date ,.title-login{
       
        font-size: 1.55em;
        line-height: 32px;
    }  
   
 
}
[dir="ltr"] .component-or .text-end{
    text-align: left !important;
}
@media (max-width:550px) {
    .title-title {
font-size: 25px;
text-align: center;

    }
    .about-item-best {
text-align: center;
    }
    [dir="rtl"] .component-vision  .title-title {
text-align: right;

    }
    [dir="ltr"] .component-vision  .title-title {
        text-align: left;
        
            }
    .row>* {
        padding-left: 2px;
        padding-right: 2px;
    }
    .col-button-con,  .component-adver .text-start{
        text-align: center !important;
    }
   .price_box_inner{
    margin-bottom: 5px;
   }
}
.card-definti-blog .blog-img {
    width: 100%;
    height: 600px;
}
@media (max-width:600px) {
    .card-definti-blog .blog-img {
height: 200px;

    }
    
}
@media (min-width:600px) and (max-width:990px) {
    .card-definti-blog .blog-img {
height: 270px;

    }
    
}
@media (max-width:1500px) {
    .p-decerption-p{
      font-size: 20px;
    }
  }
  .dropdown-menu.show {
    display: block;
}

      .compoent-price-hadder {
      position: fixed;
      Z-INDEX: 100;
      bottom:13%;
  }
  .compoent-price-hadder {
      right: 1%;
      text-align: left;
  }
 
  .back {
      position: absolute;
  
  }
  
  .btn-btn {
    background: linear-gradient(100deg, #0B555E, #428315cc);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      padding: 0px;
      border: 0px;
      transition: all  .7s ease-in-out
  }
  .btn-btn:hover{
    background: linear-gradient(100deg, #428315cc, #0B555E); 
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  }
  .title-botton i:hover{
    transform: rotate(260deg);
    transition: all  .7s ease-in-out
  }
  .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
      --bs-dropdown-min-width: 15rem; 
  }
  .compoent-price-hadder .dropdown-menu {
    background-color: #ffffff;
    
      z-index: 112;
      margin-top: 10px;
      padding: 10px;
      box-shadow: 0px 5px 10px #00000047;
  
  }
  .dropdown-content h6{
  color: #6C727D;
  font-size: 18px;
  font-weight: 600;
  
  }
  .dropdown-content ul{
    margin-top: 1rem;
      border-top: 1px solid #b6b6b6;
      padding-top: 5px;
    
  }
  [dir="rtl"] .dropdown-content ul{
    padding-right: 19px; 
  }
  [dir="ltr"] .dropdown-content ul{
    padding-left: 19px; 
  }
  .dropdown-content ul li{
    margin-bottom: 10px;
    list-style-type: circle;
  }
  .dropdown-content ul li a{
   font-size: 16px;
   color: #6C727D;
   font-weight: 500;
  
  }
  .dropdown-content ul li:focus, .dropdown-content ul li:hover {
      color: var(--bs-dropdown-link-hover-color);
      background-color: var(--bs-dropdown-link-hover-bg);
  }
  /*عرض اليوم الوطنى*/
  .overlay{
    background-color: #00000087;
  }
  @media (max-width: 990px) {
    .img-slider img {
        object-fit: cover;
        object-position: 14%;
    }
}
/*11-9-2024*/
.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.carousel-item video{
    width: 100%;
}
@media (max-width:900px) {
  .carousel-item video {
    height: 100vh;
  }
  
}
.compoent-price-hadder {
    position: fixed;
    Z-INDEX: 100;
    bottom:13%;
}
[dir="rtl"] .compoent-price-hadder {
    right: 1%;
    text-align: left;
}
.back {
    position: absolute;

}

.btn-btn {
  background: linear-gradient(100deg, #0B555E, #428315cc);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    border: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.compoent-price-hadder .dropdown-menu {
  background-color: #ffffff;
  
    z-index: 112;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 5px 10px #00000047;

}
.dropdown-content h6{
color: #6C727D;
font-size: 18px;
font-weight: 600;

}
.dropdown-content ul{
  margin-top: 1rem;
    border-top: 1px solid #b6b6b6;
    padding-top: 5px;
    padding-right: 19px; 
}
.dropdown-content ul li{
  margin-bottom: 10px;
  list-style-type: circle;
}
.dropdown-content ul li a{
 font-size: 16px;
 color: #6C727D;
 font-weight: 500;

}
.dropdown-content ul li:focus, .dropdown-content ul li:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}